.gallery {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gallery .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.gallery .frame {
  align-items: flex-start;
  padding: 0px 74px;
  top: 275px;
  left: 3px;
  display: inline-flex;
  gap: 34px;
  position: absolute;
}

.gallery .div-2 {
  position: relative;
  width: 567px;
  height: 290px;
  background-color: #ffffff2b;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff1a;
  backdrop-filter: blur(24.4px) brightness(100%);
  -webkit-backdrop-filter: blur(24.4px) brightness(100%);
}

.gallery .image {
  position: absolute;
  width: 567px;
  height: 290px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.gallery .text-wrapper {
  position: absolute;
  top: 362px;
  left: 231px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: #ffffff;
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  white-space: nowrap;
  font-style: var(--title-font-style);
}

.gallery .text-wrapper-2 {
  position: absolute;
  top: 159px;
  left: 907px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: #000000;
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  white-space: nowrap;
  font-style: var(--title-font-style);
}

.gallery .frame-2 {
  align-items: center;
  justify-content: center;
  padding: 0px 75px;
  top: 613px;
  left: -4px;
  display: inline-flex;
  gap: 34px;
  position: absolute;
}

.gallery .group {
  position: absolute;
  width: 1932px;
  height: 75px;
  top: 0;
  left: 0;
}

.gallery .navbar {
  position: relative;
  width: 1920px;
  height: 75px;
  background-color: var(--main-color);
}

.gallery .brand {
  position: absolute;
  width: 199px;
  height: 75px;
  top: 0;
  left: 24px;
}

.gallery .LOGO {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.gallery .text-wrapper-3 {
  position: absolute;
  top: 28px;
  left: 90px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-4 {
  left: 892px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-5 {
  left: 1035px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-6 {
  left: 1722px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-7 {
  left: 1812px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-8 {
  left: 747px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .text-wrapper-9 {
  left: 561px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.gallery .search-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 17px;
  left: 1646px;
}
