:root {
  --main-color: rgba(11, 36, 71, 1);
  --second: rgba(92, 109, 132, 1);
  --third: rgba(174, 182, 194, 1);
  --adds: rgba(217, 217, 217, 1);
  --fonts: rgba(227, 227, 227, 1);
  --fonts-nigga: rgba(16, 16, 16, 1);
  --category-font-family: "Inter-ExtraBold", Helvetica;
  --category-font-weight: 800;
  --category-font-size: 40px;
  --category-letter-spacing: 0px;
  --category-line-height: 100%;
  --category-font-style: normal;
  --title-font-family: "Inter-ExtraBold", Helvetica;
  --title-font-weight: 800;
  --title-font-size: 30px;
  --title-letter-spacing: 0px;
  --title-line-height: 100%;
  --title-font-style: normal;
  --subtitle-font-family: "Inter-ExtraBold", Helvetica;
  --subtitle-font-weight: 800;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 100%;
  --subtitle-font-style: normal;
  --sub-subtitle-font-family: "Inter-ExtraBold", Helvetica;
  --sub-subtitle-font-weight: 800;
  --sub-subtitle-font-size: 16px;
  --sub-subtitle-letter-spacing: 0px;
  --sub-subtitle-line-height: 100%;
  --sub-subtitle-font-style: normal;
  --sub-subtitle-reguler-font-family: "Inter-Regular", Helvetica;
  --sub-subtitle-reguler-font-weight: 400;
  --sub-subtitle-reguler-font-size: 16px;
  --sub-subtitle-reguler-letter-spacing: 0px;
  --sub-subtitle-reguler-line-height: 100%;
  --sub-subtitle-reguler-font-style: normal;
  --content-font-family: "Inter-Regular", Helvetica;
  --content-font-weight: 400;
  --content-font-size: 11px;
  --content-letter-spacing: 0px;
  --content-line-height: 100%;
  --content-font-style: normal;
  --subtitle-semi-font-family: "Inter-SemiBold", Helvetica;
  --subtitle-semi-font-weight: 600;
  --subtitle-semi-font-size: 20px;
  --subtitle-semi-letter-spacing: 0px;
  --subtitle-semi-line-height: 100%;
  --subtitle-semi-font-style: normal;
}


.store {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.store .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1024px;
  position: relative;
}

.store .LOGO {
  width: 167px;
  height: 167px;
  top: 802px;
  left: -2907px;
  position: absolute;
  object-fit: cover;
}

.store .text-wrapper,
.store .text-wrapper-2,
.store .text-wrapper-3,
.store .text-wrapper-4,
.store .text-wrapper-5 {
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
}

.store .text-wrapper:hover,
.store .text-wrapper-3:hover,
.store .text-wrapper-4:hover,
.store .text-wrapper-5:hover {
  color: var(--third);
  cursor: pointer;
}

.store .text-wrapper {
  top: 206px;
  left: 149px;
  color: #000000;
  font-size: 20px;
}

.store .text-wrapper-2 {
  top: 151px;
  left: 149px;
  color: #000000b2;
  font-size: 16px;
}

.store .text-wrapper-3 {
  top: 265px;
  left: 149px;
  color: #000000;
  font-size: 20px;
}

.store .text-wrapper-4 {
  top: 324px;
  left: 149px;
  color: #000000;
  font-size: 20px;
}

.store .text-wrapper-5 {
  top: 383px;
  left: 149px;
  color: #000000;
  font-size: 20px;
}


.store .line {
  position: absolute;
  width: 121px;
  height: 1px;
  top: 176px;
  left: 149px;
  object-fit: cover;
}

.store .component {
  top: 160px;
  left: 382px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .component:hover,
.store .component-2:hover,
.store .component-3:hover,
.store .component-4:hover,
.store .component-5:hover,
.store .component-6:hover,
.store .component-7:hover,
.store .component-8:hover{
  box-shadow: 0px 6px 12px 6px #00000040;
  transform: scale(1.1); 
  cursor: pointer;
}

.store .text-wrapper-6 {
  position: absolute;
  top: 272px;
  left: 29px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.store .p {
  position: absolute;
  width: 201px;
  top: 298px;
  left: 29px;
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: #000000;
  font-size: var(--content-font-size);
  letter-spacing: var(--content-letter-spacing);
  line-height: var(--content-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--content-font-style);
}

.store .text-wrapper-7 {
  position: absolute;
  top: 246px;
  left: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: #000000;
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .produk {
  left: 29px;
  background-image: url(./img/produk-10.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-2 {
  top: 160px;
  left: 759px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-2 {
  left: 29px;
  background-image: url(./img/produk-14.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-3 {
  top: 160px;
  left: 1136px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-3 {
  left: 29px;
  background-image: url(./img/produk-18.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-4 {
  top: 160px;
  left: 1513px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-4 {
  left: 28px;
  background-image: url(./img/produk-22.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-5 {
  top: 612px;
  left: 382px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-5 {
  left: 29px;
  background-image: url(./img/produk-26.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-6 {
  top: 612px;
  left: 759px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-6 {
  left: 29px;
  background-image: url(./img/produk-30.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-7 {
  top: 612px;
  left: 1136px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .produk-7 {
  left: 30px;
  background-image: url(./img/produk-34.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .component-8 {
  top: 612px;
  left: 1513px;
  position: absolute;
  width: 257px;
  height: 344px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px #00000040;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.store .text-wrapper-8 {
  position: absolute;
  top: 272px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.store .text-wrapper-9 {
  position: absolute;
  width: 201px;
  top: 298px;
  left: 28px;
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: #000000;
  font-size: var(--content-font-size);
  letter-spacing: var(--content-letter-spacing);
  line-height: var(--content-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--content-font-style);
}

.store .text-wrapper-10 {
  position: absolute;
  top: 246px;
  left: 28px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: #000000;
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .produk-8 {
  left: 28px;
  background-image: url(./img/produk-38.png);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 27px;
  background-size: cover;
  background-position: 50% 50%;
}

.store .group {
  position: absolute;
  width: 1932px;
  height: 75px;
  top: 0;
  left: 0;
}

.store .navbar {
  position: relative;
  width: 1920px;
  height: 75px;
  background-color: var(--main-color);
}

.store .brand {
  position: absolute;
  width: 199px;
  height: 75px;
  top: 0;
  left: 24px;
}

.store .img {
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.store .text-wrapper-11 {
  position: absolute;
  top: 28px;
  left: 90px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-12 {
  left: 892px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-13 {
  left: 1035px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-14 {
  left: 1722px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-15 {
  left: 1812px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-16 {
  left: 747px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .text-wrapper-17 {
  left: 561px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.store .search-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 17px;
  left: 1646px;
}


.menu {
  color: var(--fonts);
  transition-duration: 0.2s;
}

.menu:hover {
  color: #a6a6a6;
}